html {
    overflow-y: scroll;
}

body {
    color: #000;
}

p, h1 {
    font-family: 'Open Sans', sans-serif;
}

#mainText {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}

#mainNav {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255,255,255, 0.9);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: Arial;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #000;
    font-family: Arial;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #e4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #e4623a !important;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: rgba(255,255,255, 0.9);
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
    #mainNav .navbar-brand {
        color: rgba(0, 0, 0, 0.8);
    }
    #mainNav .navbar-brand:hover {
        color: #e4623a;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(0, 0, 0, 0.8);
        padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #e4623a;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
}

header.masthead {
    height: 100vh;
    padding-top: 10rem;
    /* padding-bottom: calc(10rem - 72px); */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../img/hero.jpg");
    background: linear-gradient(to bottom, rgba(75, 95, 120, 0.4) 0%, rgba(75, 95, 120, 0.4) 100%), url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }
    header.masthead p {
        font-size: 1.15rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

#statement {
    background-color: #FB8602;
    color: #000;
}

#objectives {
    background-color: #F7F4F1;
}

#values {
    background-color: #D1D9E3;
}
