# mod_rewrite starts here
RewriteEngine on

# if the folder exists on the server then don't change anything
RewriteCond %{REQUEST_FILENAME} !-d

# check for the file in directory with .html
RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]
